.user {
   
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.user>div{
    border: 2px solid rgb(185, 176, 176);
    height: 40px;
}
.Inbox {
    padding: 40px;
}

.user>div {
   
    height: 70px;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 20px;
    justify-content: flex-start;
    flex-direction: row;
}
#name{
    color: blue;
} 

.got {
    display: flex;
    align-items: center;
}

.cont {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.img-1 {
    border-radius: 50px;
}
#htag{
    font-size: 15px;
}
button#Add {
    background-color: #108cf3;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}
